

.bg-color img{
   filter: brightness(50%);

 }
 /* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: rgb(255, 255, 255);
  text-shadow: none; 
}

.edu-bg-info{
   background: #F4FAFD;
border-radius: 5px;
}
